.conteiner{
    background: #EAC7C7;
}

.conteiner-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteiner-principal-txt{
    display: flex;
    flex-direction: column;
    gap: 15px ;
}

.conteiner-principal-txt-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 35px;
    color: #716060;
    flex-wrap: wrap;
}

.conteiner-principal-txt-subtitulo{
    font-family: 'Sarala', sans-serif;
    color: #716060;
    font-weight: 400;
    font-size: 24px;
}

.conteiner-principal-img{
    margin-top: 50px;
    height: 339px;
    width: 339px;
}